sentencepiece/
morfessor/
temp/
.idea/
unit_testing.py
data/*sentencepiece*
data/*substitus*
data/*hft*
data/*morfessor*
data/*character*
data/current.dic.cleaned.utf8
data/current.dic.cleaned.utf8.sorted.forms
data/cstenten17_mj2.freqlist
data/cstenten17_mj2.freqlist.cleaned
data/cstenten17_mj2.freqlist.cleaned.sorted
data/cstenten17_mj2.freqlist.cleaned.sorted_alpha
old/
plots.py
plots/